@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100;200;300;400;500;600;700&display=swap');

    .pp{font-family: 'IBM Plex Sans KR', sans-serif;
        font-size: 32px
    }
    .p1{
        font-weight: 100;
    }
    .p2{
        font-weight: 200;
    }
    .p3{
        font-weight: 300;
    }
    .p4{
        font-weight: 400;
    }
    .p5{
        font-weight: 500;
    }
    .p6{
        font-weight: 600;
    }
    .p7{
        font-weight: 700;
    }
    h1.logo{
        background-color: black;
        color: white;
        width: 300px;
        /* margin-left: 500px;
        margin-top: 100px; */
        margin: 100px auto;
        /* 마진 좌우 auto는 중앙정렬 */
        text-align: center;
        padding: 50px 0;
    }
    table{border: 1px solid black; border-collapse: collapse;}
    th,td{border: 1px solid black;}