*{margin: 0; padding: 0;}
.wrap{
    width: 900px;
    margin: 0 auto;
    /* background-color: #999; */
}
header{
    position: relative;
    height: 300px;
    /* border: 1px solid #333; */
    background: url('../images/top.jpg') no-repeat 0 0 / cover;
    /* background-size: cover; */
    /* 백그라운드 사이즈를 한 줄로 쓸 때는 /를 넣어 위치와 구분해준다 */
    /* 따옴표 쓰는 습관 가지기! */
}
header h1/*.logo or header h1.logo*/{
    position: absolute;
    /* 반드시 header(부모요소)에 position: relative를 주고! 안주면 브라우저 전체가 기준이 됨*/
    right: 50px;
    bottom: 50px;
    color: #fff;
}
nav{
    height: 70px;
    background-color: #2A1D0A;
}
nav ul{list-style: none;}
nav ul li{
    float: left;
    margin: 15px 0 0 25px;
}
nav ul li a{
    display: block;
    /* a는 인라인요소, width와 height를 적용하기 위해 블록요소로 변경 */
    width: 150px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    /* border: 1px solid #fff; */
    border-radius: 20px;
}
nav ul li a:hover{
    background-color: #fff;
    color: #000;
    text-decoration: underline;
}
.content{
    height: 550px;
}
section{
    width: 650px;
    height: 550px;
    background-color: #ccc;
    float: left;
}
section h3{
    text-align: center;
    padding: 10px 0;
}
section article{
    width: 270px;
    height: 200px;
    border: 1px solid #333;
    background-color: #fff;
    float: left;
    margin: 0 0 20px 20px;
    padding: 10px;
}
article:hover{
    background-color: rgba(201, 178, 136, 0.5);
    color: #fff;
}
article h4{
    padding-left: 30px;
    padding-bottom: 10px;
    background: url(../images/kong.png) no-repeat 0 0;
}
article p{
    line-height: 1.7em;
    text-align: justify;
    /* 양쪽 정렬 */
}
aside{
    width: 250px;
    height: 550px;
    background-color: #726054;
    float: left;
    text-align: center;
}
aside h3{
    padding: 10px 0;
}
aside img{
    width: 220px;
    padding-bottom: 15px;
}
/* 이미지태그에서도 크기 조절이 가능하지만 CSS에서 조절하는 것이 더 좋음 */
footer{
    margin-top: 100px;
    height: 60px;
    line-height: 60px;
    background-color: #333;
    color: #fff;
    text-align: center;
}
/* clear: both를 사용하는 것보다 section과 aside를 div로 감싸고 div에 높이를 줘서
독립적인 형태로 만드는 것이 정석적인 방법*/