*{margin: 0; padding: 0;}
#container{
    width: 800px;
    margin: 0 auto;
}
header{
    height: 200px; /* 높이를 주지 않고 진행하면 원하는 화면이 나오지 않음*/
    background: url(../img/nav2.png) no-repeat right center;
    background-color: #f46075;
    /* 배경색이 이미지보다 다음에 와야 적용됨 */
    position: relative;
}
header h1{
    /* margin-top: 70px;
    margin-left: 50px;
    float: left; */
    position: absolute;
    left: 50px;
    top: 50px;
    color: #fff;
    
}
/* header img{
    margin-right: 20px;
    margin-top: 20px;
    float: right;
} */
nav{
    height: 60px;
    background-color: #ccc;
}
nav ul{list-style: none;}
nav ul li{
    float: left;
    margin-left: 35px;
    margin-top: 10px;
}
nav ul li a{
    display: block;
    width: 150px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    color: #000;
}
nav ul li a:hover{
    background-color: #f46075;
    font-weight: bold;
    color: #fff;
    border-radius: 20px;
}
section{
    width: 550px;
    height: 550px;
    background-color: skyblue;
    float: left;
}
section h2{
    text-align: center;
    padding: 10px 0;
}
article{
    width: 210px;
    height: 200px;
    border: 1px solid #333;
    background-color: #fff;
    float: left;
    padding: 10px;
    margin: 0 0 15px 30px;
    /* overflow: hidden; */
    /* 컨텐츠(여기서는 글자)가 넘치면 숨김 */
}
article h3{
    padding-bottom: 10px;
    padding-left: 30px;
    background: url(../img/bg.png) no-repeat left top;
}
article p{font-size: 12px;}
aside{
    width: 250px;
    height: 550px;
    background-color: #ffffcc;
    float: left;
    text-align: center;
}
aside h2{
    padding: 10px 0;
}
footer{
    clear: both;
    /* section, aside 가 float 되어 있으면 따라 들어감
    그걸 막기 위해 clear:both 써줌
    대신 기준이 section과 aside가 아니라 nav바닥이므로
    margin-top을 넣으려면 section과 aside 높이 이상을 부여해야 쓸 수 있음
    즉 clear:both 는 단순히 줄바꿈을 하기만 하면 될 때 사용 */
    height: 50px;
    line-height: 50px;
    background-color: #333;
    text-align: center;
    color: #fff;
}